@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat;
}
.header{
    margin-left: 60px;
}
.createbtn{
    width: 230px;
    height: 30px;
    background-color: #41bee6;
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    margin-right: 10px;
    font-family: Montserrat;
    border-radius: 10px;
}
.createbtn:hover{
    background-color: #1287af;
    color: white;
    cursor: pointer;
}

.spot{
    margin-top: -35px;
}
.individualSpot{
}
.updatebtn{
    background-color: #41bee6;
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    margin-right: 10px;
    font-family: Montserrat;
    border-radius: 6px;
}
.updatebtn:hover{
    background-color: #1287af;
    color: white;
    cursor: pointer;
}
