@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#modal-content{
    border-radius: 14px;
    /* height: 200px; */
    position: fixed;
    width: 28%;
    height: 60%;
    background-color: white;
    font-family: Montserrat;
}
.errors{
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100px;
}
.signup-btn{
    width: 92%;
    height: 30px;
    font-family: Montserrat;
}
.signup-enabled{
    width: 92%;
    background-color: #41bee6;
    color: white;
    border: 1px black solid;
    box-shadow: 3px 3px 3px black;
    height: 30px;
    font-family: Montserrat;

}
.signup-enabled:hover{
    background-color: #156d8a;
    color: white
}
.fa-eye:hover,
.fa-eye-slash:hover{
   cursor: pointer;
}
