#modal-content{
    border-radius: 14px;
    /* height: 200px; */
    position: fixed;
    width: 28%;
    height: 60%;
    background-color: white;
}
.errors{
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100px;
}
.signup-btn{
    width: 40%;
}
.signup-enabled{
    width: 40%;
    background-color: rgb(223, 70, 88);
    color: white;
    border: 1px black solid;
    box-shadow: 3px 3px 3px black;

}
.signup-enabled:hover{
    background-color: rgb(141, 34, 46);
    color: white
}
