
.delete-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
    height: 100%;
    text-align: center;
}
.confirmation{
    margin-top: -20px;
    font-size: 25px;
    font-weight: 400;
}
.double-conf{
    margin-top: -10px;
    font-size: 15px;
    font-weight: 100px;
}
.btn{
    width: 90%;
    height: 15%;
    margin-top: 6px;
}
.delete{
    background-color: rgb(223, 70, 88);
    color: white;
}
.delete:hover{
    cursor: pointer;
    background-color: rgb(228, 0, 27);
}
.keep{
    background-color: rgb(88, 87, 87);
    color:white;
}
.keep:hover{
    color: white;
    background-color:  black;
}
