@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

._main_{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 55px 6% 0 6%;
    font-family:Montserrat;
}

.img-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "a b c"
    "a d e";
    height: 300px;
    gap: 5px;
}
.img,.previewImg{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.previewImg{
    grid-area: a;
}
._1{
    grid-area: b;
}
._2{
    grid-area: c;
}
._3{
    grid-area: d;
}
._4{
    grid-area: e;
}
.spot-general-info{
    display: grid;
    grid-template-columns: 66% 34%;;
    grid-template-rows: 1fr;
    grid-template-areas:
    'one two';
    /* border: red 1px solid; */
    height: 200px;
    margin-top: 15px;
}
.host-desc{
    grid-area: one;
    margin-top: -25px;
}
.hostName{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: -11px;
}
.reserve{
    grid-area: two;
    border: 2px solid black;
    border-radius: 1em;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}
.price-star-rev{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 13px;
}
.spotPrice{
    margin-left: 10px;
}
.reviewCount{
    margin-right: -5px;
}
.reserve-box-revCount_hasRev{
    /* margin-top: 22px;
    font-size: 13px; */
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    word-spacing: 1px;
}
.reserve-box-revCount_new{
    /* margin-top: 22px;
    font-size: 13px; */
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.reserveBox-revCount-text{
    font-size: 18px;
}
.reserve-btn{
   display: flex;
   justify-content: center;
}
.BUTTON{
    width: 90%;
    height: 40px;
    background-color: #41BEE6;
    color: white;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 18px;
}
.BUTTON:hover{
    background-color: #1287af;
    cursor: pointer;
}
.review-portion{
    display: flex;
    flex-direction: column;
}
.rev-btn{
    margin-top: 10px;
}
.finalRevCountFinal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5px;
}
.finalRevWritten{
    font-size: 18px;
}
.reviews{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.individual{
    display: flex;
    flex-direction: column;
}
.reviewer-name{
    font-size: 18px;
    font-weight: 540;
}
.date{
    font-size: 14px;
    font-weight: 50;
    margin: -15px 0 -2px 0;
}
.revtxt{
}
.delete-btn{
    margin-bottom: 5px;
}
.delete-btn:hover{
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}

/* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end | itemname; */
