#modal-content{
    border-radius: 14px;
    /* height: 200px; */
    position: fixed;
    width: 28%;
    height: 60%;
    background-color: white;
    z-index: 7;
}

.loginmodal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%
}
.input{
    width: 98%;
    height: 35px;
    margin: auto;
}
.label{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
.submit{
    width: 100%;
    border: 2px solid grey;
    box-shadow: 3px 3px 3px grey;
}
.demoUser{
    width: 100%;
    border: 2px solid grey;
    box-shadow: 3px 3px 3px grey;
}
.demoUser:hover{
    background-color: green;
    color: white;
}
.submit,.demoUser{
    height: 40px;
}
.valErr{
    margin-top: -10px;
    margin-bottom: -10px;
}
.submit.enabled{
    background-color: rgb(223, 70, 88);
}
.valErr{
    color: red;
}
.submit.enabled:hover{
    cursor: pointer;
    background-color: rgb(165, 238, 193);

}
